.color-1 {
  background-color: aquamarine;
}

.color-2 {
  background-color: rgb(255, 178, 127);
}

.color-3 {
  background-color: rgb(246, 255, 127);
}

.color-4 {
  background-color: rgb(255, 127, 148);
}

.color-5 {
  background-color: rgb(146, 127, 255);
}

.color-6 {
  background-color: rgb(127, 255, 170);
}

.color-7 {
  background-color: rgb(255, 127, 244);
}

.color-8 {
  background-color: rgb(255, 210, 127);
}

html {
  background-color: #f4f5f6;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

body,
nav {
  max-width: 1310px;
  min-width: 320px;
  margin: auto;
}

.body {
  background-color: #f4f5f6;
}

.title-global {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(3, 3, 3, 0.4);
}

.bg-global-red {
  background-color: #f72210;
}

.bg-global-blue {
  background-color: #3581f4;
}

.color-global-blue {
  color: #3581f4;
}

.color-global-red {
  color: #f72210;
}

.custom-logo {
  width: 25%;
}

nav a::before {
  content: "";
  width: 8%;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f72210;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 22% 100%);
}

.custom-w-search {
  width: 1rem;
}

.fa-user,
.fa-bars {
  color: #fff;
  padding-left: 0;
  opacity: 0.75;
  font-size: 1rem;
}

.custom-badge {
  cursor: pointer;
  background-color: #ffe400;
}

.custom-font-nav {
  font-size: 12px;
}

.nav a:hover {
  color: #f72210;
}

.vs-tag,
.img-tag,
.card-tag,
.card-tag-blm,
.card-tag-magazine,
.card-tag-freedom,
.card-tag-editor {
  position: absolute;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.vs-tag {
  bottom: -15px;
  font-size: 14px;
}

.img-tag,
.card-tag-editor {
  bottom: 8px;
  left: 16px;
  font-size: 17px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.9);
}

.card-tag,
.card-tag-magazine {
  bottom: 0;
  left: 16px;
  font-size: 13px;
  line-height: 12px;
}

.card-tag {
  background-color: #c2d4d7;
}

.card-tag-magazine,
.card-tag-freedom,
.card-tag-editor {
  bottom: 0;
  left: 0;
  font-size: 13px;
  line-height: 1.5rem;
}

.card-tag-magazine {
  background-color: rgba(255, 255, 255, 0.9);
}

.card-tag-freedom {
  background-color: #f72210;
}

.custom-text-red {
  color: #f72210;
}

.card-text-customs {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  color: rgba(3, 3, 3, 0.5);
}

.custom-w {
  width: 4rem;
}

.custom-w-magazine,
.custom-w-editor {
  min-width: 80%;
}

.custom-w-sign-up {
  width: 20rem;
}

.custom-hr-p {
  padding: 0.1rem;
}

.custom-line-height {
  line-height: 1.3rem;
}

.custom-font-size {
  font-size: 15px;
}

.custom-w-card {
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .custom-font-nav {
    font-size: 15px;
  }

  .custom-mt-n7 {
    margin-top: 0;
  }

  .custom-mt-n9 {
    margin-top: -60rem;
  }

  .custom-w-card {
    min-width: 5%;
  }

  .custom-w-magazine {
    min-width: 20%;
  }

  .custom-w-editor {
    min-width: 40%;
  }

  .fa-bars {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 992px) {
  .custom-logo {
    width: 35%;
  }

  .custom-mt-n6 {
    margin-top: -9rem;
  }

  .custom-mt-n7 {
    margin-top: -42rem;
  }

  .custom-mt-n9 {
    margin-top: -100rem;
  }

  .custom-mt-n10 {
    margin-top: -8rem;
  }

  .custom-w-editor {
    min-width: 20%;
  }
}
