.color-1 {
  background-color: aquamarine;
}

.color-2 {
  background-color: rgb(255, 178, 127);
}

.color-3 {
  background-color: rgb(246, 255, 127);
}

.color-4 {
  background-color: rgb(255, 127, 148);
}

.color-5 {
  background-color: rgb(146, 127, 255);
}

.color-6 {
  background-color: rgb(127, 255, 170);
}

.color-7 {
  background-color: rgb(255, 127, 244);
}

.color-8 {
  background-color: rgb(255, 210, 127);
}
